.questions {
  position: relative;
  list-style: none;
  padding: 5px 10px 0 10px;
  margin: 0;
  /* max-height: 230px; */
  overflow: auto;
}

.questions .message {
  clear: both;
  overflow: hidden;
  margin-bottom: 10px;
  transition: all 0.5s linear;
  opacity: 0;
}
.questions .message.left .avatar {
  background-color: #f5886e;
  float: left;
}
.questions .message.left .text_wrapper {
  background-color: #ffe6cb;
  margin-left: 20px;
}
.questions .message.left .text_wrapper::after,
.questions .message.left .text_wrapper::before {
  right: 100%;
  border-right-color: #ffe6cb;
}
.questions .message.left .text {
  color: #c48843;
}
.questions .message.right .avatar {
  background-color: #fdbf68;
  float: right;
}
.questions .message.right .text_wrapper {
  background-color: #c7eafc;
  margin-right: 20px;
  float: right;
}
.questions .message.right .text_wrapper::after,
.questions .message.right .text_wrapper::before {
  left: 100%;
  border-left-color: #c7eafc;
}
.questions .message.right .text {
  color: #03415a;
}
.questions .message.appeared {
  opacity: 1;
}
.questions .message .avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  line-height: 60px;
  text-align: center;
}
.questions .message .text_wrapper {
  display: inline-block;
  padding: 20px;
  border-radius: 6px;
  width: calc(100% - 120px);
  min-width: 100px;
  position: relative;
}
.questions .message .text_wrapper::after,
.questions .message .text_wrapper:before {
  top: 18px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.questions .message .text_wrapper::after {
  border-width: 13px;
  margin-top: 0px;
}
.questions .message .text_wrapper::before {
  border-width: 15px;
  margin-top: -2px;
}
.questions .message .text_wrapper .text {
  font-size: 18px;
  font-weight: 300;
}

.question_number {
  text-align: center;
  padding: 10px;
}

.question_number button {
  margin-left: 5px;
}

.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  border-radius: 35px;
  font-size: 24px;
  line-height: 1.33;
}

.btn-circle {
  width: 30px;
  height: 30px;
  padding: 6px 0px;
  border-radius: 15px;
  text-align: center;
  font-size: 12px;
  line-height: 1.42857;
}

.btn-info {
  color: #fff;
  background-color: #5bc0de;
  border-color: #46b8da;
}
.btn-outline-warning {
  color: #ffc107;
  border-color: #ffc107;
  background-color: #fff;
}

.questions .contents {
  width: 95%;
  margin: auto;
  /* border:1px solid red; */
} 

.choices_group {
  width: 55%;
  margin-left: 20px;
  /* border:1px solid green; */
  float: left;
}

.questions .answers {
    width: 40%;
    /* border:1px solid red; */
    float: right;
  }
  

.d-cricle {
  width: 35px;
  height: 35px;
  padding: 5px 10px;
  border-radius: 35px;
  font-size: 16px;
  /* line-height: 1.33; */
  color: #134413;
  border: 1px solid #fff;
  text-align: center;
  margin-right: 10px;
}

.choices_items {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  border: 1px solid transparent;
  border-radius: 20px;
  height: 100%;
  color: #3c763d;
  display: flex;
  align-items: center;
  font-size: 14px;
  min-height: 40px;
  padding: 8px 10px;
  width: calc(100% - 10px);
  min-width: 100px;
  margin-top: 10px;
}

.menu_top span {
  padding: 10px;
}

.student {
    position: relative;
  width: 90%;
  margin: auto;
  margin-left: 38px;
  font-size: 12px;
  max-height: 270px;
  overflow: auto;
  /* border: 1px solid grey; */
}
.nav-item{
    font-size: 12px;
}
.student table {
  border: none;
}

.student table,
.student td,
.student th {
  /* border: 1px solid black; */
}

.student table {
  border-collapse: collapse;
  width: 100%;
}

.student td {
  vertical-align: bottom;
}
.student thead th {
  text-align: center;
}

.t-cricle {
  width: 20px;
  height: 20px;
  padding: 1px 2px;
  border-radius: 35px; 
  /* line-height: 1.33; */
  color: #134413;
  border: 1px solid #f5886e;
  text-align: center; 
}

.t-cricle-name {
    /* width: 135px; */
    width: 20px;
  height: 20px;
    border-radius: 35px; 
    /* line-height: 1.33; */
    color: #134413;
    border: 1px solid #f5886e;
    text-align: center;
    margin-right: 10px;
  }


/*nút gửi đi */

.bottom_sent {
    position: relative;
    width: 100%; 
    padding-top: 50px; 
    padding-left:0px; 
    text-align: center; 
  } 

  .bottom_sent .send_message {
    width: 140px;
    height: 50px;
    display: inline-block;
    border-radius: 50px;
    background-color: #a3d063;
    border: 2px solid #a3d063;
    color: #fff;
    cursor: pointer;
    transition: all 0.2s linear;
    text-align: center; 
  }
  .bottom_sent .send_message:hover {
    color: #a3d063;
    background-color: #fff;
  }
  .bottom_sent .send_message .text {
    font-size: 18px;
    font-weight: 300;
    display: inline-block;
    line-height: 48px;
  }
  
.footer {
  position: fixed;
  bottom: 7px;
  width: 100%;
  text-align: center;
  font-size: 11px;
  color: rgb(148, 143, 143);
}
